
// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color: #FBFBF7;
$navbar-color: rgba(133, 199, 242, 0.8);
$border-color: #4C4C4C;

a{
  color: inherit;
}

*:focus {
  outline: none;
  box-shadow: none !important;
}

.logo{
  width: 100vw;
  display: block;

  .spork-logo-full {
    display: block;
    margin: auto;
    width: 60vw;
  }

  .catchphrase{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: auto;
    font-weight: 700;
  }

  .begin-button{
    margin-top: 40px;
    background-color: inherit;
    border: none;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(151, 151, 151);
  }
  .begin-button:hover{
    color: rgb(56, 56, 56);
  }
  .begin-button:focus {
    outline: none;
    box-shadow: none !important;
  }
}
.notification {
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
  padding: 0 20px;
  color: #F14040;
  text-align: right;
}

.btn-primary {
  float: right;
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px;
  background: #3b92cc;
  border-color: #3b92cc;
}

.btn-primary:hover {
  background: #2f82b9;
}

body {
  background-image: url('/newbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 60px 0px;
}

.navbar {
  display: block;
  background-color: $navbar-color;
  z-index: 4;
  height: 60px;
  left: 0;
  padding: 0;
  padding-left: 10px;
  position: fixed;
  right: 0;
  top: 0;
  margin-bottom: 0px;


  .navbar-brand {
    display: block;
    background-color: rgba(133, 199, 242, 0.0);
    float: left;
    font-weight: 900;
    font-size: 42px;
    line-height: 60px;
    padding: 0px 0px 0px 15px;
    border: none;
    border-radius: 0;
  }

  .nav-button {
    background-color: rgba(133, 199, 242, 0.0);
    float: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
  }

  .nav-button:hover {
    text-decoration: none;
    color: inherit;
    background-color: $navbar-color;
    border: none;
    border-bottom: 2px solid #1c5f8c;
  }

  .nav-user {
    float: right;
    font-weight: 700;
    font-size: 17px;
    padding: 6px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 100px;
  }
}

.container {
  margin-top: 0px;
  display: flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-around;

  .recipe-card {
      // flex:      1;
      max-width: 300px;
      // so that footer within can be positioned absolutely
      position:  relative;
      border:        2px solid $border-color;
      border-radius: 5px;
      padding:       0px;
      padding-bottom: 20px;
      margin-top:    30px;
      // margin:        10px;
  }

  .learn-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-weight: 700;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .learn-more:hover {
    background: #AFAFAF;
  }

}

.new-recipe {
  margin-top: 30px;
  position : relative;
  background: $bg-color;
  width: 65%;
  border : 2px solid #4C4C4C;
  border-radius: 10px;
  padding: 15px;
  padding-top: 55px;

  .close {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 5px;
    padding-right: 10px;
    color: black;
  }

  .create-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background : rgb(133, 199, 242);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding: 5px;
  }

  .step-title{
    font-weight: 700;
    font-size: 20px;
    height: 42px;
  }

  .step-textarea {
    height: 120px;
  }

  label {
    font-weight: 700;
    font-size: 16px;
  }

  .btn-danger {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .add-step-button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  input {
    border-color: #AFAFAF;
  }
}

.steps-area {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 15px;
  padding-top: 55px;
  margin-bottom: 15px;
}

.fullscreen.fullscreen-enabled {
  background-color: #FBFBF7;
}

.cooking-view {
  background-color: #FBFBF7;
  z-index: 3;
  font-size: 120%;
  font-weight: 700;
  height: 100vh;
  width: 100vw;
  margin-bottom: 10px;
  max-height: 100vh;
  overflow: scroll;
  position: relative;

  .row {
    padding: 0.4em;
  }

  h4 {
    font-size: 1.0em;
    font-weight: 700;
  }

  .step-row {
    // padding: 10px;
    border-bottom: 1px solid #AFAFAF;
  }

  .step-col {
    border-right: 1px solid #AFAFAF;
  }

  .switch-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: rgb(236, 235, 235);
    // border: 1px solid $border-color;
    border-radius: 0;
    border-bottom-left-radius: 5px;
  }

  .switch-button:hover {
    background-color: #AFAFAF;
  }
}
// rounding edges of detailed recipe view
.styles_modal__gNwvD {
  border-radius: 10px;
  max-width: 90%;
  background: #FBFBF7;
  padding: 0.8em;
}

.DPU-main-container {
  max-height: 90vh;
  overflow: auto;
}

.DPU-title {
  font-size: 1.8em;
}

.DPU-left {
  float: left;
  text-align: left;
  min-width: 300px;
  max-width: 300px;
}

.DPU-centered-title {
  text-align: center;
}

.DPU-right {
  float: right;
  position: relative;
}

.DPU-image {
  margin: auto;
  max-width: 240px;
  max-height: 160px;
  min-width: 240px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: 13px;
}

.DPU-buttons {
  justify-content: center;
  padding: 0;
}

.DPU-ingredients {
  text-align: left;
}

#adjustServing {
  display: inline-block;
  height: 100%;
  width: 100px;
  background: #3b92cc;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.serving-size {
  display: inline-block;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 25px;
  margin-bottom: 10px;
  background: #3b92cc;
  border-color: #3b92cc;
  border: 1px solid transparent;
  height: 38px;
  padding: .1rem .75rem .1rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}

// constrains large images to a max-height & width for visual appeal
.card-img-top {
  max-height: 200px;
  min-height: 200px;
  max-width: 300px;
  object-fit: cover;
  overflow: hidden;
}

// border for table on detailed recipe modal pop up
.DPU-table {
  border: 1px black solid;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

td, th {
  border: solid 1px black;
  padding: 5px;
}

// gives enough buffer for two line recipes
.card-title {
  min-height: 66px;
}

// fades out save button when required fields aren't filled
.btn.disabled, .btn:disabled {
  opacity: 0.30;
}

// puts red star after required fields
.required label:after {
  content: " *";
  color: red;
}

.spork-diff {
  &-added {
    color: green;
  }

  &-removed {
    text-decoration: line-through;
  }
}

.verically-centered {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.modal-footer {
  border-top: none;
}

.servingAdjuster {
  position: relative;
  bottom: 14px;
}

.login-buttons {
  margin-top: 10px;
  margin-right: 10px;
}

// styles for dropdown user menu
.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
  margin-top: 18px;
  background-color: $navbar-color;
  right: -16px;
  padding: 15px;
  color: white;
  width: auto;
  text-align: right;
  white-space : nowrap;
}