
// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color: #FBFBF7;
$navbar-color: rgba(133, 199, 242, 0.8);
$border-color: #4C4C4C;

a{
  color: inherit;
}

.btn-primary {
  float: right;
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px;
  background: #3b92cc;
  border-color: #3b92cc;
}

.btn-primary:hover {
  background: #2f82b9;
}

body {
  background: $bg-color;
  background-image: url('/bg_image.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 60px 0px;
}


.navbar {
  display: block;
  background-color: $navbar-color;
  z-index: 2;
  height: 60px;
  left: 0;
  padding: 0;
  padding-left: 10px;
  position: fixed;
  right: 0;
  top: 0;
  margin-bottom: 0px;


  .navbar-brand {
    display: block;
    float: left;
    font-weight: 900;
    font-size: 42px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
  }

  .nav-button {
    background-color: rgba(133, 199, 242, 0.0);
    float: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
  }

  .nav-button:hover {
    text-decoration: none;
    color: inherit;
    background-color: $navbar-color;
    border: none;
    border-bottom: 2px solid #1c5f8c;
  }

  .nav-user {
    background-color: rgba(133, 199, 242, 0.0);
    float: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    padding: 0 10px;
  }
}

.container {

  margin-top: 0px;
  display: flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-around;

  .recipe-card {
      // flex:      1;
      max-width: 300px;
      // so that footer within can be positioned absolutely
      position:  relative;
      border:        2px solid $border-color;
      border-radius: 5px;
      padding:       0px;
      padding-bottom: 20px;
      margin-top:    20px;
      // margin:        10px;
  }

  .learn-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-weight: 700;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .learn-more:hover {
    background: #AFAFAF;
  }

}

.new-recipe {
  position : relative;
  background: $bg-color;
  width: 85%;
  border : 2px solid #4C4C4C;
  border-radius: 10px;
  padding: 15px;
  padding-top: 55px;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 5px;
    padding-right: 10px;
    color: black;
  }

  .create-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background : rgb(133, 199, 242);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding: 5px;

  }

  label {
    font-weight: 700;
    font-size: 16px;
  }

  .btn-danger {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .add-step-button {
    margin: auto;
    margin-bottom: 0;
    margin-top: 10px;
  }

  input {
    border-color: #AFAFAF;
  }
}

.steps-area {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 15px;
  padding-top: 55px;
  margin-bottom: 15px;
}

.cooking-view {
  background-color: #FBFBF7;
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 120%;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 700px;

  h4 {
    font-size: 1.2em;
    font-weight: 700;
  }

  .step-row {
    padding: 10px;
    border-bottom: 1px solid #AFAFAF;
  }

  .step-col {
    border-right: 1px solid #AFAFAF;
  }
}

.DPU-main-container {
  background-color:#FBFBF7;
}

.DPU-title {
  font-size: 1.8em;
}

.DPU-left {
  float: left;
  text-align: left;
}

.DPU-centered-title {
  text-align: center;
}

.DPU-right {
  float: right;
}

.DPU-image {
  max-width: 240px;
  max-height: 160px;
  min-width: 240px;
  object-fit: cover;
  overflow: hidden;
}

.DPU-buttons {
  justify-content: center;
}

.DPU-ingredients {
  text-align: left;
}

// constrains large images to a max-height & width for visual appeal
.card-img-top {
  max-height: 200px;
  max-width: 300px;
  object-fit: cover;
  overflow: hidden;
}

// border for table on detailed recipe modal pop up
.DPU-table {
  border: 1px black solid;
  border-collapse: collapse;
}

td, th {
  border: solid 1px black;
}

.notification {
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
  padding: 0 20px;
  color: #F14040;
  text-align: right;
}

// gives enough buffer for two line recipes
.card-title {
  min-height: 66px;
}

// rounding edges of detailed recipe view
.styles_modal__gNwvD {
  border-radius: 10px

}