// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color: #FBFBF7;

.session-box {
  background: $bg-color;
  width: 80%;
  border-radius: 10px;
  padding: 20px 40px 30px;
  margin: auto;
  margin-top : 30px;
  border: 2px solid #4C4C4C;

  input {
    border-color: #AFAFAF;
  }

  label {
    font-weight: 700;
    font-size: 16px;
  }
}