// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color: #FBFBF7;

.register-box {
  background: $bg-color;
  width: 80%;
  height: 500px;
  border: 2px;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  left: 115px;
  top: 20px;
}